.finished-course {
    margin-bottom: 30px; 
}

.finished-course .front-text h2 {
    color: lightcoral; 
    font-size: 50px;
}

.finished-course .front-text {
    max-width: 600px;
    margin: 0 auto;
}

.finished-course .front-text h2 img{
    width: 30px; 
    margin-right: 10px;
}

.finished-course-title {
    padding-left: 25%;
    padding-top: 50px;
}

.about-area2 .support-wrapper .left-content3 {
    padding-left: 40px;
    width: 40%;
    margin-left: 50px;
}

