.wrapper .search_box .dropdown ul.active {
  display: flex;
  flex-direction: column;
}
.services-area .container, .footer-area .container{
display: block;
}

@media screen and (max-width:1024px) {
.row{
  padding-bottom: 0px;
}
.row .wrapper{
  position: absolute;
  top: 35%;
}
.row .wrapper .search_box{
  width: 430px;
}
}

